.container {
	padding: 5%;
}

.react-calendar {
	width: 100%;
}

.react-calendar__tile {
	height: 100px;
	border: 1px solid black;
}

.react-calendar__month-view__days__day {
	border: 1px solid black;
}