.container {
	display: flex;
	flex-wrap: wrap;
	height: 600px;
}

.calendar {
	flex: 100 0 750px;
	margin: 1em;
}

.side-display {
	flex: 1 0 350px;
	display: flex;
	flex-direction: column;
	margin: 1em;
	width: 320px;
	padding: 1em;
}

.paper-small + .paper-small {
	margin-top: 20px;
}

.paper-small {
	padding: 5px;
}

.form {
	display: flex;
	flex-direction: column;
}

.mt32 {
	margin-top: 32px;
}

.flex {
	display: flex;
}

.spacebetween {
	justify-content: space-between;
}
