.container {
	display: flex;
	height: 700px;
}

.rbc-calendar {
	width: 66%
}

.side-display {
	display: flex;
	flex-direction: column;
	width: 33%
}

.paper {
	padding-left: 5px;
	padding-right: 5px;
}